@import url('https://fonts.cdnfonts.com/css/poppins');
/* font-family: 'Poppins', sans-serif; */


/* REALIZANDO O ZERAMENTO DA PAGINA E CONFIGURANDO ALINHAMENTOS */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#6ac6f9,#4a7dff);
}

/* COMEÇANDO A PARTE DE ESTILIZAÇÃO DA APLICAÇÃO */
                                                
#container {
    background-color: #f0f8ff;
    border-radius: 20px;
    padding: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#search {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    padding: 4px 12px;
}

#search input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
}

/* UTILIZADO UMA PSEUDO-CLASS PARA ESTILIZAR *(NO NOSSO CASO, REMOVER)* O "FOCUS" QUANDO CLICA NA CAIXA DE TEXTO */
#search input:focus-visible {
    outline: none;
}

/* CONTINUANDO A PARTE DE ESTILIZAÇÃO DA APLICAÇÃO */

#search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* CONFIGURANDO PARA QUANDO ABRIR A APLICAÇÃO APARECER SOMENTE O CAMPO DE BUSCA */

#weather {
    display: none;
    margin-top: 20px; 
    text-align: center;

}
 
/* CONFIGURANDO PARA QUANDO ABRIR A APLICAÇÃO E CLICAR PARA BUSCAR, APARECER O RESULTADO ELIMINANDO O "DISPLAY: NONE;" */

#weather.show {
    display: block;
}

/* CONTINUANDO A PARTE DE ESTILIZAÇÃO DA APLICAÇÃO */

#weather #tittle {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    color: #372f3f;
}

#temp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background: linear-gradient(90deg, #5a7cdc, #606dde);
    color: #fff;
    border-radius: 20px;
    padding: 20px;
}

#temp_img {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

#temp_value {
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
}

#temp_description {
    font-weight: 500;
    text-transform: capitalize;
}

/* CONFIGURANDO E ESTILIZANDO OS CARD'S COM TEMPERATURA, HUMIDADE E VENTO */

#other_infos {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

#other_infos .info {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    gap: 10px;
}

#other_infos .info h2 {
    font-size: 12px;
    font-weight: 600;
}

#other_infos .info i {
    text-align: center;
    font-size: 20px;
    width: 20%;
}

/* ESTILIZANDO OS ICONES DE TEMPERATURA, HUMIDADE E VENTO */
#temp_max_icon {
    color: #7f1d1d;
}

#temp_min_icon {
    color: #06a4f3;
}

#humidity_icon {
    color: #0ea5e9;
}

#wind_icon {
    color: #141e46;
}

#alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#alert img {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 5px;
}
